body {
    background-color:darkgray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-columns: 20vw auto auto;
    grid-template-rows: 50px calc(90vh - 100px - 10px) 50px;
}

h1 {1
    font-weight: bolder;
    color:darkred;
    font-size:x-large;
}

a {
    font-size: medium;
    text-decoration: none;
}

.header {
    grid-area: header;
    padding: 10px;
}

.conteudo {
    grid-area: main;
    padding: 10px;
    height: 100px;
}

.footer {
    grid-area: footer;
    margin-bottom: 5%;
}